rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita pública em qualquer documento e subcoleção durante Preview para desenvolvimento rápido.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
